.footer-container {
    background-color: #1E4976;
    color: #fff;
    padding: 10px;
    height: 60px;
    text-align: center;
    border-top: 1px solid #1E4976;
    display: flex;
    font-weight: bold;
    justify-content: center;
    column-gap: 20px;
    align-items: center;

    img {
        border-radius: 50px;
        height: 30px;
        width: 30px;
    }

    a {
        text-decoration: none;
        color: #fff;

    }
}